.w3-quarter:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: black;
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    z-index: 1;
    right: 0;
}

div ul li a {
    font-size: 20px;
    font-weight: bold;
}

h3,h4,h5,h6 {font-family: "Calibri"}

.col:hover {
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}

.page-link {
    color: black;
    font-weight: normal;
    border: none;
}

.page-link:hover {
    color: white;
    background-color: black;
}

.page-link:focus, .page-link:active {
    color: white;
    background-color: black;
    box-shadow: none;
}

.btn-outline-dark:focus, .btn-outline-dark:active {
    background-color: #212529;
    color: white;
    box-shadow: none;
}


@media only screen and (max-width: 1000px){
    .img-item {
        width: 23%;
    }
}

.topLeft:before {
  position: absolute;
  top: 8px;
  left: 16px;
}

.text-block {
  position: absolute;
  margin-top: 25px;
  margin-right: 20px;
  color: white;
  padding: 0 5px 0 5px;
}